@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSans';
  src: url('./assets/fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'AritaSans'; /* 사용하고 싶은 font-family명을 지정 */
  src: url('./assets/fonts/AritaSans-Medium.otf') format('opentype'); /* 폰트파일 불러오기 */
}
