body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'AritaSans'; /* 사용하고 싶은 font-family명을 지정 */
  src: url('./assets/fonts/AritaSans-Medium.otf') format('opentype'); /* 폰트파일 불러오기 */
}
